@font-face {
    font-family: TiemposHeadline-Black;
    font-weight: 900;
    src: url('../assets/fonts/TiemposHeadline-Black.otf') format('opentype');
}

@font-face {
    font-family: TiemposHeadline-Bold;
    font-weight: 700;
    src: url('../assets/fonts/TiemposHeadline-Bold.otf') format('opentype');
}

@font-face {
    font-family: TiemposHeadline-Semibold;
    font-weight: 600;
    src: url('../assets/fonts/TiemposHeadline-Semibold.otf') format('opentype');
}

@font-face {
    font-family: TiemposHeadline-Medium;
    font-weight: 500;
    src: url('../assets/fonts/TiemposHeadline-Medium.otf') format('opentype');
}

@font-face {
    font-family: TiemposHeadline-Regular;
    font-weight: 400;
    src: url('../assets/fonts/TiemposHeadline-Regular.otf') format('opentype');
}

@font-face {
    font-family: Avenir-Book;
    font-weight: 300;
    src: url('../assets/fonts/3821DB_0_0.eot');
    src: url('../assets/fonts/3821DB_0_0.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/3821DB_0_0.woff2') format('woff2'),
        url('../assets/fonts/3821DB_0_0.woff') format('woff');
}

@font-face {
    font-family: Avenir-Medium;
    font-weight: 500;
    src: url('../assets/fonts/3821DB_4_0.eot');
    src: url('../assets/fonts/3821DB_4_0.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/3821DB_4_0.woff2') format('woff2'),
        url('../assets/fonts/3821DB_4_0.woff') format('woff');
}

@font-face {
    font-family: Avenir-Bold;
    font-weight: 700;
    src: url('../assets/fonts/3821DB_6_0.eot');
    src: url('../assets/fonts/3821DB_6_0.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/3821DB_6_0.woff2') format('woff2'),
        url('../assets/fonts/3821DB_6_0.woff') format('woff');
}

@font-face {
    font-family: Avenir-Black;
    font-weight: 900;
    src: url('../assets/fonts/3821DB_A_0.eot');
    src: url('../assets/fonts/3821DB_A_0.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/3821DB_A_0.woff2') format('woff2'),
        url('../assets/fonts/3821DB_A_0.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: TiemposHeadline-Semibold;
    color: #444C65;
}

h1 {
    font-size: 40px;
    line-height: 50px;
    margin: 10px 0;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #6A7083;
    font-family: 'Avenir-Book', sans-serif;
    margin: 10px 0;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* should this be min, max, % or hard coded? */
    width: 1120px;
    margin: 0 auto;
}

.container-small {
    width: 800px;
    padding-top: 60px;
}

.width-half {
    width: 50%;
    margin: 0 auto;
}

.section {
    height: auto;
    max-height: 550px;
    overflow: hidden;
}

.img-container {
    width: 100%;
}

.img-container-45 {
    width: 45%;
}

.img-full-width {
    width: 100%;
    height: auto;
}

.img-example {
    margin: 20px 0 0;
}

.concern {
    margin-bottom: -5px;
}

.child {
    align-self: flex-start;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
}

.nav-items {
    display: flex;
}

.nav-item {
    display: flex;
    flex-direction: row;
    padding: 5px 20px;
    font-family: 'Avenir-Book', sans-serif;
    align-items: center;
    font-size: 16px;
    color: #6A7083;
}

.nav-item:hover {
    cursor: pointer;
}

.nav-item-mobile {
    font-size: 30px;
    width: auto;
    font-family: 'Avenir-Black', sans-serif;
    margin: 15px 0 0 15px;
}

.nav-item.btn-primary {
    margin: 0 0 0 20px;
}

.nav-mobile {
    display: none;
}

.nav-mobile-overlay {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 999;
}

.close-icon {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hidden {
    display: none;
}

.btn-primary {
    width: auto;
    background-color: #EAB2A9;
    padding: 9px 20px;
    margin: 15px 0;
    justify-content: center;
    border-radius: 3px;
    color: #fff;
    font-weight: 900;
    letter-spacing: .5px;
    box-sizing: border-box;
    transition: .2s ease;
    font-family: 'Avenir-Black', sans-serif;
    text-align: center;
}

.btn-primary:hover {
    background-color: #444C65;
    cursor: pointer;
}

.hero {
    padding-top: 60px;
}

.hero-content {
    justify-content: center;
}

.hero-content:nth-of-type(1) {
    margin-right: 20px;
}

#taglineSection>h1 {
    width: 90%;
}

#taglineSection>p {
    width: 400px;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1px;
    width: 420px;
    box-sizing: border-box;
    background-color: #e9e9e9;
}

.box {
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    padding: 40px;
    width: 530px;
    box-sizing: border-box;
    margin: 20px 0;
}

.box:nth-of-type(4) {
    padding-bottom: 0;
}

.width-400 {
    width: 400px;
}

.width-250 {
    width: 250px;
}

.width-330 {
    width: 330px;
}

.subheader {
    margin: 10px 42px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
    padding: 20px 0 0;
    vertical-align: bottom;
    border-top: 1px solid #e9e9e9;
}

.social-media-icon {
    padding: 0 5px;
    transition: .2s ease;
}

.social-media-icon:hover {
    opacity: .6;
    cursor: pointer;
}

#childDiv>div.container.flex-column.justify-center.padding-left>h1 {
    width: 500px;
}

#childDiv>div.container.flex-column.justify-center.padding-left>p {
    width: 400px;
}

.footer-bottom {
    width: 100%;
    border-top: 1px solid #e9e9e9;
    padding: 15px 0;
}

/* begin overrides */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cushion {
    margin: 40px auto;
}

.cushion-xl {
    margin: 60px auto;
}

.justify-center {
    justify-content: center;
}

.bg-light-gray {
    background-color: #f9f9f9;
}

.padding-left {
    padding-left: 60px;
}

/* end overrides */



/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .container,
    .container-small {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: flex;
        padding: 0 10px 0 0;
    }

    .nav-items {
        text-align: center;
        padding: 10px 0 0 0;
    }

    .hero-iphones {
        width: 100%;
    }

    .hero-content:nth-of-type(1) {
        margin-right: 0;
    }

    #taglineSection>p {
        width: auto;
    }

    #childDiv>div.container.flex-column.justify-center.padding-left>h1 {
        width: auto;
    }

    #childDiv>div.container.flex-column.justify-center.padding-left>p {
        width: auto;
    }

    .box {
        width: 100%;
        margin: 15px auto;
        overflow: hidden;
    }

    .line {
        width: 35%;
    }

    .social-media-icons {
        display: flex;
        justify-content: center;
        padding: 0 0 20px 0;
    }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {}